html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-weight: 900;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

/* a2hs */
.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
}

.wrapper{
    padding: 7% 15%;
}

/* Navbar */

.logo{
    width: 15rem;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;
}

.img-logo{
    height: 100px;
    width: 100px;;
    background-image:url('../images/logo.png');
    background-size:cover;
    background-position:center;
}

/* Heading page */

.title{
    height: 100vh;
    width: 100%;
    background-image:url('../images/kosmaj.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding-top: 200px;
    text-align: center;
}

.big-heading{    
    color: #faf9f9;
    font-size: 3.5rem;
    margin: 0 auto;
    width: 60%;
    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.medium-heading{
    color: #488b8f;
    font-size: 2rem;
}

.small-heading{
    color: #488b8f;
    font-size: 1.5rem;
}

/* sticky navigation icons */

#scroll-down {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: block;
    cursor: pointer;    
    position: fixed;
    bottom: 30px;
    right: 50%;
    transform:translateX(50%);
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    text-decoration: none;    
}

#scroll-down:hover {
    color: #8f8f8f;
}

.sticky-nav {
    width: 55px;
    line-height: 3.5rem;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;    
    position: fixed;
    color: black;
    opacity: 0.3;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;    
    left: 1rem;    
}

.sticky-nav:hover {
    color: black;
    opacity: 0.6;
}

#about-nav {
    top:30px;    
}

#product-nav {
    top: 80px;
}

#contact-nav {
    top: 130px;
}

/* About us */

.intro{
    text-align: center;
}

.text{
    font-size: 1rem;
    line-height: 2;
    text-indent: 50px;
}

.njivica {
    margin: 200px auto 0;
    text-align: left;
    overflow: hidden;
}

.us-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.garden-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* Products slider*/

#products-slider{
    text-align: center;
    background-color: #faf9f9;
    color: #488b8f;
}

#img-container { 
    margin: 0;
    padding: 0;
    position: relative;    
}

.img-slide{
    /* width:70px;     */
    width: 4rem;    
    background-color: aliceblue;
    opacity: 0.3;
    height: 100%;
    position:absolute;    
    font-size:30px;
    margin: 0;
    padding:0;
}

#img-right {
    right: 0%
}

#img-left {
    left: 0%
}

.start{
    background-color: aliceblue;
    opacity: 0.3;
    position:absolute;
    bottom: 10px;
    left: 100px;
    font-size:30px;
    margin: 0;
    padding: 0;
}

.prev-next-button {  
    position: absolute;  
    top: 50%;    
    left: 50%;
    transform:translate(-50%, -50%);
}

#img-comment {
    justify-content: center;
    height: 50px;
    background-color: #faf9f9;
    opacity: 0.6;
    position:absolute;
    bottom: 10px;
    left: 150px;
    right: 100px;
    padding: 0;
}

#img-desc {  
    position: relative;  
    top: 50%;    
    left: 50%;
    transform:translate(-50%, -50%);
    margin-left: 20px;
    color: #488b8f;
    font-weight: bold;
}

/* Footer */
#footer {
    background-color:#faf9f9;
    text-align: center;
    color:#8f8f8f;
    font-size: 0.8rem;
}

/* back 2 top */
#back-2-top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;    
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #488b8f;
    color: #8f8f8f;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back-2-top:hover {
    background-color: #dddddd;
    color: #000;
}

