#products{
  background-color: #add2c9;
  position: relative;
}

.products h2{
  color: #faf9f9;
  margin-bottom: 30px;
  text-align: center;
}

.products h3, #contact h3{
  color: #faf9f9;
  margin-bottom: 50px;
  text-align: center;
}

.products p{
  margin-top: 50px;
  text-align: center;
}

.slider h3{
  color: #488b8f;
  margin-bottom: 50px;
  text-align: center;
}

.slider p{
  margin-top: 50px;
  text-align: center;
}

.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;  /*popunjava rupe*/
  grid-gap: 5px;
}

.grid-cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;/*prilagodi sliku celiji*/
}

.grid-item {
  position: relative;
}

.vertical {
  grid-row: span 2;
}

.horizontal {
  grid-column: span 2;
}

.large {
  grid-row: span 2;
  grid-column: span 2;     
}

  .info{
  color: white;   
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  font-size: 3rem;
}

.info-visible{
  opacity: 1;
  color: #5599ff;
  cursor: pointer;
  transform: rotate(0deg);  
  transition-duration: 1s; 
}

.info-hidden{
  opacity: 0;
}

.continue {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

  #product-modal{
    display: none; 
    position: fixed; 
    z-index: 20; 
    padding: 3%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: 60%; 
    overflow: auto;
    background-color: #faf9f9;
    margin: 0 auto;
    text-align: justify;
    border-radius: 5px;
      }

  #product-info{
  color: #8f8f8f;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  }

  #close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
    
  #overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5000px;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }
  
  .blurred {
    filter: blur(4px);
  }

  .zoom {
    padding: 10px;    
    transition: transform 0.4s; 
    height: 75px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(2.5) translateX(20px); 
    /* padding-left: 37px; */
  }