/* medium screen css */
@media screen and (min-width: 768px) and (max-width: 1366px) {
    html {
        font-size: 14px;
    }
    
    .njivica {
        margin: 50px auto 0;
    } 

    .garden-img, .us-img {
        width: 40%;
        
    }
    
    .grid-cont {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }      
     
    .vertical {
        grid-row: span 3;
      }

    #img-desc{
        margin-left: 0;
    }

    #img-comment {
        opacity: 1;
        bottom: -50px;
        left: 35px;
        right: 5px;
    }

    .start{
        bottom: -50px;
        left: 0;
        font-size:30px;
    }

    .img-slide{
        width: 3rem;
    }

    .modal-content {
        width: 50%;
    }

    .btn-nav {
        width: 150px;
        margin-top: 5px;
    }
    
}

/* small screen css */
@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }
    
    .img-logo{
        height: 54px;
        width: 100px;
        background-image:url('../images/logoside.png');
        background-size:cover;
        background-position:center;        
    }   

    .title{
        padding-top: 100px;
    }

    .big-heading{
        font-size: 2.5rem;
        width: 90%;
        line-height: 1.5;
    }

    .njivica {
        margin: 50px auto 0;
    }

    .text{
        font-size: 1.2rem;
        line-height: 1.5;
        text-indent: 30px;
    }

    .garden-img, .us-img {
        width: 100%;
        float: none;
        margin: 20px auto;
    }
    
    .products h3{
        margin-bottom: 20px;
    }

    .products p, .slider p{
        text-indent:0;
    }

    #product-modal{
        width: 90%; 
        height: 90%; 
    }

    .horizontal, .large, .vertical {
        grid-column: span 1;        
        grid-row: span 1;        
    }

    .grid-cont {
        grid-template-columns: auto;
    }
    
    .info-hidden{
        opacity: 1;
        color: #5599ff;
        cursor: pointer;
        transform: rotate(0deg); 
    }

    #img-desc{
        margin-left: 0;
    }

    #img-comment {
        opacity: 1;
        bottom: -50px;
        left: 35px;
        right: 5px;
    }

    .start{
        bottom: -50px;
        left: 0;
        font-size:30px;
    }

    .img-slide{
        width: 3rem;
    }

    .modal-content {
        width: 90%;
    }

    #contact-btn {
        margin: 1rem auto;
    }

    .btn-nav {
        margin-top: 2px;
    }

}

