#contact{
  background-color: #add2c9;
}

.contact-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-item{
  font-size: 1.5rem;
  color: #8f8f8f;
  line-height: 1.5;
}

.contact-item a{
  text-decoration: none;
  color:#8f8f8f;
}

.contact-item a:hover{
  text-decoration: underline;
  color:#488b8f;
}

.small-coll, .medium-coll, .big-coll{
  padding: 12px;
}

.big-coll{
  text-align: center;
}

#name, #email, #message{
  width: 100%;
  border-radius: 8px;
}

#contact-btn {
  background: #488b8f;
  background-image: linear-gradient(to bottom, #488b8f, #08161f);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#contact-btn:hover {
  background: #0a141a;
  text-decoration: none;
}

.social-media{
  margin-top: 10px;
  margin-left: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-image: linear-gradient(to bottom right, #488b8f, black); 
    background-repeat: no-repeat;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #captchaInput {
    width: 2.5rem;
    margin-left: .5rem;
  }

  #captchaText {
    color: #add2c9;
    font-weight: bold;
  }

