@media screen and (max-width: 991px){
    .big-heading{
        width: 80%;
        font-size: 2rem;
    }

    .njivica {
        margin: 200px auto 0;
        text-align: left;
        overflow: hidden;
    }

    .us-img {
        width: 50%;
        float: left;
        margin-right: 30px;
    }

    .garden-img {
        width: 50%;
        float: right;
        margin-left: 30px;
    }

    .contact-item{
        font-size: 1.2rem;
    }

    .modal-content {
        width: 50%;
      }
       
}

@media screen and (max-width: 767px){
    .grid-cont {
        /* display: block; */
        grid-template-columns: auto auto;
        grid-row-gap: 5px;
    }
    
    .horizontal, .large, .vertical {
        grid-column: span 1;        
        grid-row: span 1;        
    }

    #product-modal{
        width: 70%; 
        height: 70%; 
    }

    #img-comment {
        opacity: 1;
        bottom: -50px;
        left: 100px;
        right: 50px;
    }

    .start{
        bottom: -50px;
        left: 50px;
        font-size:30px;
    }
    
    .modal-content {
        width: 60%;
      }
}


/* small screen css */
@media only screen and (max-width: 599px) {
    html {
        font-size: 12px;
    }
    
    .img-logo{
        height: 54px;
        width: 100px;
        background-image:url('../images/logoside.png');
        background-size:cover;
        background-position:center;        
    }   

    .title{
        padding-top: 100px;
    }

    .big-heading{
        width: 90%;
        line-height: 1.5;
    }

    .njivica {
        margin: 50px auto 0;
        text-align: left;
    }

    .garden-img {
        width: 100%;
        float: none;
        margin: 20px auto;
    }
    
    .us-img {
        width: 100%;
        float: none;
        margin: 20px auto;
    }

    .products h3{
        margin-bottom: 20px;
    }

    .products p, .slider p{
        text-indent:0;
    }

    #product-modal{
        width: 90%; 
        height: 90%; 
    }

    .horizontal, .large, .vertical {
        grid-column: span 1;        
        grid-row: span 1;        
    }

    .grid-cont {
        grid-template-columns: auto;
        grid-row-gap: 5px;
    }
    
    .info-hidden{
        opacity: 1;
        color: #5599ff;
        cursor: pointer;
        transform: rotate(0deg); 
    }

    #img-desc{
        margin-left: 0;
    }

    #img-comment {
        opacity: 1;
        bottom: -50px;
        left: 35px;
        right: 5px;
    }

    .start{
        bottom: -50px;
        left: 0;
        font-size:30px;
    }

    .img-slide{
        width: 3rem;
    }

    .modal-content {
        width: 90%;
    }

    #contact-btn {
        margin: 1rem auto;
    }

}

/* medium screen css */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}